//Main colors in the index.scss-file
@use "../../index.scss" as global;

.button {
  .button-button {
    font-family: Circular Std Book;
    font-weight: 500;
    background: #ffffff;
    border: 2px solid global.$main-purple;
    color: global.$main-black;
    box-sizing: border-box;
    padding: 0.75rem 1.5rem;
    box-sizing: border-box;
    border-radius: 8px;
  }
  $button-background: #e7bfff;
  $disabled-color: #c9c9c9;
  %box-shadow-rules {
    box-shadow: 0 0 5px #719ece;
  }

  .button-button {
    border: 2px solid global.$main-purple;
  }
  .button-button:disabled {
    border: 2px solid $disabled-color;
    color: $disabled-color;
  }
  .button-button:focus:enabled {
    @extend %box-shadow-rules;
    outline: none;
    background: $button-background;
  }
  .button-button:active:enabled {
    @extend %box-shadow-rules;
    transition: background-color 0.3s ease;
    border: 2px double global.$main-purple;
    background: $button-background;
  }
  .button-button:hover:enabled {
    transition: background-color 0.3s ease;
    background: $button-background;
  }
}
