//The main colors, as well as link classes are defined in the index file.

@use "../../index.scss" as global;

.display-rules {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(145, 158, 167, 0.25);
  height: 72px;
  display: flex;
  align-items: center;

  @extend .links;
  color: global.$main-black;

  .header-container {
    width: 84%;
    margin: auto;

    @extend .display-rules;

    .header-container-menu {
      display: none;
    }

    .header-container-logo {
      height: 100%;
      width: auto;
    }
    .header-container-nav {
      height: 55%;
      width: 42%;
      @extend .display-rules;

      .header-container-nav-link {
        text-decoration: none;
      }
      .header-container-nav-link:visited {
        color: global.$main-black;
      }
      .header-container-nav-link:hover {
        text-decoration: underline;
      }
    }
    .header-container-search {
      cursor: pointer;
      @extend .display-rules;

      .header-container-search-icon {
        margin-left: 8%;
      }
    }
  }
}
.mobile-header {
  width: 100%;
  min-height: 20vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgba(145, 158, 167, 0.25);

  .mobile-header-link {
    padding: 5% 0;
    width: 100%;
    height: 33.3%;
    text-decoration: none;
    color: global.$main-black;
  }
  .mobile-header-link:hover {
    text-decoration: underline;
  }
}

@media only screen and (max-width: 800px) {
  .header {
    .header-container {
      .header-container-menu {
        display: inline;
      }

      .header-container-nav {
        display: none;
      }
      .header-container-logo {
        margin: auto;
      }

      .header-container-search {
        .header-container-search-text {
          display: none;
        }
      }
    }
  }
}
