//The main colors, as well as link classes are defined in the index file.

@use "../../index.scss" as global;

.postcontainer {
  color: global.$main-black;
  margin-bottom: 3%;
  .postcontainer-paragraph {
    width: 42%;
    line-height: 32px;
    font-size: 1.2rem;
    margin: 2% auto;

    a {
      text-decoration: underline;
      color: global.$main-purple;
    }
    a:hover {
      text-decoration: none;
    }
  }
  .postcontainer-title {
    width: 42%;
    margin: auto;
    font-size: 2em;
    font-weight: 500;
  }

  .postcontainer-button {
    text-align: center;
  }
}
@media only screen and (max-width: 900px) {
  .postcontainer {
    margin-bottom: 3rem;
    .postcontainer-paragraph {
      font-size: 1rem;
      line-height: 1.5rem;
      margin: 5% auto;
      width: 90%;
    }
    .postcontainer-title {
      margin: 5% auto;
      width: 90%;
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
}
