//The main colors, as well as link classes are defined in the index file.

@use "../../index.scss" as global;

.postcontainer {
  font-family: Circular Std Book;
  color: global.$main-black;
  margin-bottom: 3%;
  .postcontainer-paragraph {
    width: 42%;
    padding: 1.5% 0% 3% 0%;
    line-height: 32px;
    font-size: 1.2rem;
    margin: 2% auto;

    a {
      font-family: Circular Std Book;
      text-decoration: underline;
      color: global.$main-purple;
    }
    a:hover {
      text-decoration: none;
    }
  }
  .postcontainer-title {
    width: 42%;
    margin: auto;
    font-size: 1.4rem;
  }

  .postcontainer-button {
    text-align: center;
  }
}
@media only screen and (max-width: 900px) {
  .postcontainer {
    .postcontainer-paragraph,
    .postcontainer-title {
      margin: 5% auto;
      width: 90%;
    }
  }
}
