$main-purple: #8500d7;
$main-black: #262626;

.links {
  font-family: Circular Std Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}

@font-face {
  font-family: "Circular Std Bold";
  src: local("Circular"),
    url(./assets/fonts/CircularStdBold.ttf) format("truetype");
}
@font-face {
  font-family: "Circular Std Book";
  src: local("Circular"),
    url(./assets/fonts/CircularStdBook.ttf) format("truetype");
}
@font-face {
  font-family: "Circular Std Italic";
  src: local("Circular"),
    url(./assets/fonts/CircularStdItalic.ttf) format("truetype");
}
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");

body {
  margin: 0;
  font-family: Circular Std Book, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
