$main-purple: #8500d7;
$main-black: #262626;

.links {
  font-family: Circular Std Book;
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-decoration: none;
}

@font-face {
  font-family: "Circular Std Book";
  src: local("Circular"),
    url(./assets/fonts/CircularStdBook.ttf) format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");
* {
  font-family: Circular Std Book;
}
body {
  margin: 0;
  font-family: Circular Std Book, "Segoe UI", "Franklin Gothic Medium",
    "Arial Narrow", Arial, sans-serif "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
