//The main colors are defined in the index file.

@use "../../index.scss" as global;

.titlecontainer {
  width: 80%;
  margin: auto;
  .titlecontainer-title {
    text-align: center;

    font-family: Circular Std Book;
    font-weight: 550;
    font-size: 3em;
  }
  .titlecontainer-ingress {
    text-align: center;
    font-family: Circular Std Italic;
    font-weight: lighter;
  }
}
@media only screen and (max-width: 800px) {
  .titlecontainer {
    width: 90%;
    .titlecontainer-title {
      font-size: 2em;
    }
    .titlecontainer-ingress {
      font-size: 1.5em;
    }
  }
}
