//The main color is defined in the index file.

@use "../../index.scss" as global;

.profilecard {
  width: 80%;
  margin-top: 4%;
  font-family: Circular Std Book;
  font-weight: 400;
  display: flex;
  align-items: center;
  align-content: space-between;
  justify-content: center;

  .profilecard-avatar {
    height: 5.5rem;
    width: 5.5rem;
    border-radius: 50px;
    object-fit: cover;
  }

  .profilecard-container {
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    .profilecard-container-name {
      color: global.$main-purple;
      font-weight: 500;
      font-size: 1.2em;
      margin: 0;
    }
    .profilecard-container-text {
      color: global.$main-black;
      font-size: 0.6rem;
    }
    .profilecard-container-socials {
      width: 100%;
      .profilecard-container-socials-link {
        img {
          padding-right: 4%;
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .profilecard {
    display: none;
  }
}
